<%= devise_error_messages! %>

<h3 class="text-center form-title">Resend confirmation instructions</h3>
<hr>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "card-block"}) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: "form-control-label" %>
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control input-lg", placehoder: "Your email" %>
  </div>

  <div class="form-group">
    <%= f.submit "Resend confirmation instructions", class: "btn btn-action btn-lg btn-block" %>
  </div>
<% end %>

<div class="auth-links text-center">
</div>
