<div class="container">

<% @events.each do |event| %>
  <div class="panel panel-default">
    <%= image_tag("event-status-#{event.status}.png", class: "event-status") %>
    <div class="panel-body">
      <div class="media">
        <div class="media-left media-middle">
          <a href="#">
          <% if event.logo_url %>
            <%= image_tag(event.logo.thumb.url, size: "130x130", class: "media-object") %>
          <% else %>
            <%= image_tag("https://placeholdit.imgix.net/~text?txtsize=20&amp;txt=#{event.title}&amp;w=130&amp;h=130&amp;bg=fb9505&amp;txtclr=ffffff", class: "media-object") %>
          <% end %>
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= event.title %></h4>
          <h5 class="media-heading text-muted"><%= event.begin_at %> - <%= event.end_at %></h5>
          <div class="media-heading"><span class="label label-info"><%= icon('map-marker', event.city ) %></span></div>
          <p><%= event.description %></p>
        </div>
        <div class="media-right media-middle">
        <%= link_to '报 名', event, class: "btn btn-danger btn-lg btn-block", style: "width: 240px" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= will_paginate @events %>
</div>
