<div class="row">
  <div class="col-md-3 text-center">
    <img class="img-circle" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNTc0NjU3YTlmZSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE1NzQ2NTdhOWZlIj48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA1NDY4NzUiIHk9Ijc0LjUiPjE0MHgxNDA8L3RleHQ+PC9nPjwvZz48L3N2Zz4=" width="80%">
    <div class="page-header">
      <h3>林大仙</h3>
    </div>
    <ul class="list-group text-left text-muted">
      <li class="list-group-item"><%= icon('map-marker', "校区") %></li>
      <li class="list-group-item"><%= icon('map-marker', "example@mail.com") %></li>
      <li class="list-group-item"><%= icon('map-marker', "上海") %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <% 10.times do %>
    <div class="row">
      <h4 class="text-muted">2016年复旦黑客马拉松</h4>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
              <img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=20&amp;txt=hackathon&amp;w=130&amp;h=130&amp;bg=fb9505&amp;txtclr=ffffff">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">基于 Leap Motion 的多人打架</h4>
              <div class="media-heading"><span class="label label-info"><%= icon('map-marker', "上海") %></span> <span class="label label-info"><%= icon('map-marker', "上海") %></span></div>
              <p>山川壯麗，物產豐隆，炎黃世胄，東亞稱雄。毋自暴自棄，毋故步自封，光我民族，促進大同。創業維艱，緬懷諸先烈；守成不易，莫徒務近功。同心同德，貫徹始終，青天白日滿地紅。同心同德，貫徹始終，青天白日滿地紅。</p>
            </div>
            <div class="media-right media-middle">
              <button type="button" class="btn btn-danger btn-lg btn-block" style="width: 180px">DEMO</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
