<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Team name:</strong>
  <%= @project.team_name %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @project.tag %>
</p>

<p>
  <strong>Eventreferences:</strong>
  <%= @project.eventreferences %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Prize:</strong>
  <%= @project.prize %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
